body{
    background-color: aquamarine;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: capitalize;
    text-align:center;
    
}
.header{
    font-size: 36px;
    text-align: center;
    padding-top: 20px;
    color: #555555;
}
.container {
    margin: 10px auto;
    text-align: center;
    color: rosybrown;
    font-size: 24px;
    padding-top: 30px;
}
#clickables{
    display: flex;
    align-items: center;
    justify-content: center;
    display:inline-block;
    order: 1;
}
#choc{
    width: 250px;
    height: 250px;
    border-radius: 50%;

}
#clicks {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background-color: aquamarine;
    border:none;
    cursor: grab;
    padding-top: 80px;
}
#clicks:focus {
    outline:0;
}
h3{
    font-size: 30px;
    text-align: center;
    padding: 20px;
}
.buy_thing{
    line-height: 1.5em;
    width: 150px;
    height: 150px;
    background-color: #555555;
    color: white;
    border: 2px solid rosybrown;
    font-size: 16px;
    box-shadow: 2px 5px rosybrown;
    cursor: grab;
}
.buy_thing:focus {
    outline:0;
}
.buy_upgrade{
    color: white;
    background-color: #555555;
    border: 2px solid rosybrown;
    font-size: 16px;
    box-shadow: 2px 5px rosybrown;
}
/* .grid{
    display: grid;

} */
.maincontainer{
    display: flex;
    justify-content: space-evenly;
}
.left{
    display: flex;
    flex-direction: column;
    order:0;
    
}
.right{
    display: flex;
    flex-direction: column;
    order:2;
}